html, body, #root, .app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffecf2;
}

.main-content {
  flex: 1;
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #16A5A3;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;

}

.center-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.nav-link.enhanced {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-link.enhanced:hover {
  color: #fbbf24;
}

.footer {
  background-color: #16A5A3;
  color: #ffffff;
  padding: 16px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer-links {
  display: flex;
  gap: 16px;
}

.footer-links a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fbbf24;
}